@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto:wght@400;500;700&display=swap');

.container h1 {
color: #1E212D;
font-family: 'Outfit', sans-serif;
font-family: 'Roboto', sans-serif;

}